package components

templ NavbarButton(text, href, replace_url string) {
	<a class="text-2xl hover:text-gray-600 underline" href={ templ.SafeURL(href) } hx-replace-url={ string(templ.SafeURL(replace_url)) }>
		{ text }
	</a>
}
